
/* Textarea Height */
.quarter-area {
    min-height: 250px !important;
}

.border-form-control {
    border: 1px solid #ced4da;
}

.border-none {
    border: none;
}

html, body {
    background: rgb(248,249,250);
}

.token-url {
    max-width: 700px;
    margin: auto;
}

#printBtn {
    float: right;
}





















