
/* Hide printable plan when not printing */
#printPlan {
    display: none;
}

@media print {
    button{
        display: none;
    }

    /* Show printable plan */
    body #printPlan {
        display:block;
    }

    /* Render white space in text-areas */
    /* Preserves user intended line spacing) */
    #printPlan p.plan-content {
        white-space: pre-wrap;
    }


    /* Hide body */
    body #planPage {
        display: none;
    }

    /* Adjust quarter notes height */
    .quarter-area {
        min-height: 50px !important;
        margin-bottom: 0;
        break-inside: avoid;
    }
}