@font-face {
    font-family: greenRiverFont;
    src: url(big_noodle_titling.ttf);
}

.navbar {
    padding: 0 !important;

}

.nav-grc {
    background-color: #dee2e6 !important;
}

.nav-item {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.nav-link {
    margin: 0 !important;
}

.bg-grcgreen {
    background-color: #2c882b !important;
}

.gr-logo {
    width: 120px;
    margin: 0 32px !important;
}

.grfont {
    font-family: greenRiverFont, serif;
    background-color: #fcfbf4;
}

.saved {
    margin-right: 50px !important;
}
table{
    border-collapse: collapse;
}
tbody{
    font-family: arial, sans-serif;
    background-color: #dee2e6;
    padding: 5px;
}
td, tr{
    border: 2px solid black;
}
tr:nth-of-type(even) td{
    background-color: whitesmoke;
}
button{
    border: none;
    background: none;
}

/* Hide first year separator */
#schoolYears > div:nth-child(1) hr {
    display: none;
}

/* CSS for printing */
@media print {
    button, hr {
        display: none !important;
    }

    /* Show plan 2 quarters wide */
    .col-6-print {
        width: 50%;
    }

    /* Hide nav */
    nav.navbar {
        display: none;
    }

    /* One School Year per page */
    #schoolYears > div.container {
        margin-bottom: 6rem;
    }
}

/* ==== Footer link styles ==== */

.accordion-button:focus {
    border-color: white;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white;
}