@font-face {
    font-family: greenRiverFont;
    src: url(big_noodle_titling.ttf);
}

.navbar {
    padding: 0 !important;
    background-color: #9fcdff;
}

.nav-grc {
    background-color: rgb(234, 234, 226) !important;
}

.nav-item {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.nav-link {
    margin: 0 !important;
}

.bg-grcgreen {
    background-color: #2c882b !important;
}

.gr-logo {
    width: 120px;
    margin: 0 32px !important;
}

.grfont {
    font-family: greenRiverFont, serif;
}

.saved {
    margin-right: 50px !important;
}

/* CSS for printing */
@media print {
    .navbar {
        display: none !important;
    }

    .table {
        box-shadow: none !important;
        border-color: black !important;
    }

    .table th {
        background-color: grey !important;
        color: black !important;
    }
}